<header class="head__header header mg-bottom">
    <div class="container header__container">
        <div class="header__inner secondary-bg">
            <ul class="header__langs">
                <li class="header__langs-item">
                    <a class="header__langs-link grey-text" href="#">ua</a>
                </li>
                <li class="header__langs-item">
                    <a class="header__langs-link grey-text" href="#">ru</a>
                </li>
                <li class="header__langs-item">
                    <a class="header__langs-link active" href="#">en</a>
                </li>
            </ul>
            <span class="dotted"></span>
            <address class="header__address grey-text">Kyiv, Mechnikova str., 14/1</address>
            <span class="dotted"></span>
            <a class="header__phone grey-text" href="tel:0800211927">0800 211 927</a>
            <span class="dotted"></span>
            <a class="header__social" href="#">
                <svg class="header__facebook-icon bg--icon">
                    <use href="#facebook"></use>
                </svg>
            </a>
        </div>
        <div class="header__box">
            <a class="header__box-logo" href="index.html">
                <img src="images/headers-logo/secondary-header-logo.svg" alt="Hlegal" width="70" height="32">
                <span class="logo--color">publications</span>
            </a>
            <div class="header__box-burger burger--bg">
                <span class="burger--bg"></span>
            </div>
        </div>
        <nav class="header__nav">
            <div class="header__nav-close"></div>
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a class="header__nav-link active-regular-color" href="about.html">about us</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link active-regular-color" href="services.html">services</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link active-regular-color" href="team.html">team</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link  accent-color-border pd-bottom " href="publications.html">publication</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link active-regular-color" href="contact.html">contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
