<nav class="header__nav">
    <div class="header__nav-close"></div>
    <ul class="header__nav-list">
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">about us</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link " href="#">services</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">team</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">publication</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">contact</a>
        </li>
    </ul>
</nav>
