<section class="partners">
    <h3 class="partners__subtitle">They already trust us</h3>
    <ul class="partners__item">
        <li class="partners__list">
            <img class="cover__img" src="images/partners/hillel.png" alt="hillel" width="217" height="48">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/wannabiz.png" alt="wannaBiz" width="199" height="32">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/tapgerine.png" alt="tapgerine" width="179" height="44">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/3dlook.png" alt="3DLook" width="180" height="42">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/orangear.png" alt="orangear" width="174" height="44">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/adtelligent.png" alt="adtelligent" width="187" height="48">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/clickky.png" alt="clickky" width="138" height="61">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/eco-leasing.png" alt="eco-leasing" width="146" height="76">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/city-par.png" alt="city-par" width="181" height="38">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/ingratek.png" alt="ingratek" width="182" height="60">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/artprint.png" alt="artprint" width="189" height="46">
        </li>
        <li class="partners__list">
            <img class="cover__img" src="images/partners/ultimatecard.png" alt="ultimatecard" width="152" height="95">
        </li>
    </ul>
</section>
