<section class="tabs" id="tabs">
    <div class="container tabs__container">
        <ul class="tabs__lists">
            <li class="tabs__lists-item active">Consistent</li>
            <li class="tabs__lists-item">Customer oriented</li>
            <li class="tabs__lists-item">Innovative</li>
            <li class="tabs__lists-item">Business oriented</li>
        </ul>
        <div class="tabs__contents">
            <article class="tabs__contents-item active">
                <h3 class="tabs__contents-title">We turn the idea of legal services</h3>
                <p class="tabs__contents-desc">
                    Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number.
                    Many of them form the practice of applying the law of the sea in Ukraine.Many of them form the practice of applying the law of the sea in Ukraine.</p>
            </article>
            <article class="tabs__contents-item">
                <h3 class="tabs__contents-title">We turn the idea of legal services</h3>
                <p class="tabs__contents-desc">
                    Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry.</p>
            </article>
            <article class="tabs__contents-item">
                <h3 class="tabs__contents-title">We turn the idea of legal services</h3>
                <p class="tabs__contents-desc">
                    Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in Ukraine. Many of them form the practice of applying the law of the sea in Ukraine. Many of them form the practice of applying the law of the sea in Ukraine. Many of them form the practice of applying the law of the sea in Ukraine.</p>
            </article>
            <article class="tabs__contents-item">
                <h3 class="tabs__contents-title">We turn the idea of legal services</h3>
                <p class="tabs__contents-desc">
                    Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in Ukraine.
                    Many of them form the practice of applying the law of the sea in Ukraine.Many of them form the practice of applying the law of the sea in Ukraine.</p>
            </article>
        </div>
    </div>
</section>
