<div class="wrapper">
    <header class="head__header header">
        <div class="container header__container">
            <div class="header__inner">
                <ul class="header__langs">
                    <li class="header__langs-item">
                        <a class="header__langs-link bg--item" href="#">ua</a>
                    </li>
                    <li class="header__langs-item">
                        <a class="header__langs-link" href="#">ru</a>
                    </li>
                    <li class="header__langs-item">
                        <a class="header__langs-link active" href="#">en</a>
                    </li>
                </ul>
                <span class="dotted-header"></span>
                <address class="header__address address-color">Kyiv, Mechnikova str., 14/1</address>
                <span class="dotted-header"></span>
                <a class="header__phone" href="tel:0800211927">0800 211 927</a>
                <span class="dotted-header"></span>
                <a class="header__social" href="#">
                    <svg class="header__facebook-icon fill--accent">
                        <use href="#facebook"></use>
                    </svg>
                </a>
            </div>
            <div class="header__box">
                <a class="header__box-logo" href="#">
                    <img src="images/headers-logo/primary-logo.svg" alt="Hlegal" width="70" height="32">
                    <span>services</span>
                </a>
                <div class="header__box-burger">
                    <span></span>
                </div>
            </div>
            <nav class="header__nav">
                <div class="header__nav-close"></div>
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">about us</a>
                    </li>
                    <li class="header__nav-item ">
                        <a class="header__nav-link" href="#">services</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">team</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">publication</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>
