.tabs {
  overflow-x: hidden;
  margin: 30px 0;

  @media screen and (min-width: $breakpoint-md) {
    margin: 60px 0;
  }

  &__container {

    @media screen and (min-width: $breakpoint-lg) {
      display: flex;
      align-items: center;
    }
    @media screen and (min-width: $breakpoint-xl) {
      max-width: 1740px;
      padding: 0 180px;
    }
    @media screen and (min-width: $breakpoint-xxl) {
      max-width: 2220px;
      padding: 0 280px;
    }
  }

  &__lists {
    display: flex;
    gap: 30px;
    white-space: nowrap;
    margin-right: -30px;
    padding-bottom: 30px;
    padding-right: 30px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    @media screen and (min-width: $breakpoint-md) {
      margin-right: calc(-50vw + 324px);
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-right: 0;
      padding: 0;
      flex-flow: column;
      flex: 1 1 50%;
      padding-right: 60px;
      border-right: 3px solid $grey-text;
    }
  }

  &__lists-item {
    @include subtitle($grey-text);
    cursor: pointer;
    &:hover {
      color: $accent-color;
    }
    &.active {
      @include main-gradient-text($gradient-red-text);
    }
  }

  &__contents {
    padding-top: 30px;
    border-top: 3px solid $grey-text;
    @media screen and (min-width: $breakpoint-lg) {
      flex: 1 1 50%;
      padding-left: 60px;
      padding-top: 0;
      border: none;
    }
    @media screen and (min-width: $breakpoint-xl) {
      flex: 1 1 60%
    }
    @media screen and (min-width: $breakpoint-xxl) {
      flex: 1 1 70%;
    }
  }

  &__contents-item {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: $basic-white;
    display: none;
    &.active {
      display: block;
    }
  }

  &__contents-title {
    @include size-weight(20px, 700);
    margin-bottom: 30px;
  }
}
