.wrapper {
  background: $gradient-super-soft;
  border-radius: 0 0 12px 12px;
  padding-bottom: 60px;
  margin-bottom: 80px;
  position: relative;

  &::before,  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 20px;
    background:  #CACADB;
    height: 10px;
    border-radius: 0 0 12px 12px;
  }
  &::after {
    left: 40px;
    right: 40px;
    bottom: -20px;
    height: 10px;
    background: #E7E7F2;
  }
}
