.services {

  &__container {
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 60px;
    }
  }

  &__link {
    @include size-weight(14px, 700);
    @include base-link;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-right: 10px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      @include width-height(6px, 6px);
      top: 3px;
      right: 0;
      border-bottom: 2px solid $active-regular;
      border-right: 2px solid $active-regular;
      transform:  rotate(-45deg);
    }
  }

  &__title {
    @include  main-gradient-text($gradient-red-text);
    @include primary-title;
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 60px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: $breakpoint-md) {
      gap: 60px;
    }
  }
}

.card-service {

  flex: 1 1 100%;
  @media screen and (min-width: $breakpoint-md) {
    flex: 1 1 40%;
  }
  @media screen and (min-width: $breakpoint-lg) {
    flex: 1 1 25%;
  }

  &__icon {
    @include width-height(92px, 92px);
    fill: $basic-white;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__link {
    @include size-weight(22px, 700);
    @include active-regular-link($active-regular);
    line-height: normal;
  }

  &__desc {
    @include style-text(400, 16px, 26px);
    color: $basic-white;
    overflow: hidden;
  }
}
